
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  }

.board {
	border: 1px grey dashed;
  box-shadow: 10px 10px rgba(155, 155, 155, 0.81);

}

.format{
	color: white;
}
[class^=gridRow]{
	
	margin: auto;
}

[class^=square] {
  float: left;
  width: 5em;
  height: 5em;
}

.wip {
  border: 1px red dashed;
}
h1 {
  text-align: center;
  
}

[class^="gridRow"]{
  background-color: lightgrey;
}
.gridRow0 [class^=square]{
	border-bottom: 7px rgb(0, 56, 178) solid;	
  
}
.gridRow1 [class^=square]{
	border-bottom: 7px rgb(0, 56, 178) solid;	
}
.square0{
	border-right: 7px rgb(0, 56, 178) solid;		
}
.square1{
	border-right: 7px rgb(0, 56, 178) solid;		
}

.fontstyle{
  font-family: 'Anton', sans-serif;
  text-align: center;
  padding-top: 40px;
  font-size: 2em;
}
.board:after {
  content: "";
  display: table;
  clear: both;
}
[class^=gridRow]{
  content: "";
  display: table;
  clear: both;
}
